:root {
  --primaryClr: #03a84e;
  --secondaryClr: rgb(235, 255, 245);
  --accent: #008d40;
  --black: #21312a;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* feat/basit-table */

a {
  text-decoration: none;
  color: black;
}

/* .data_table {
  display: flex;
  flex-direction: column;
} */

.data_table-nav {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(155, 147, 168);
  gap: 0px 2rem;
}

.data_table {
  position: relative;
  right: -300px;
  background-color: #fff;
  max-height: 100%;
  width: 80%;
  /* display: flex;
    flex-direction: column;
    */
  max-width: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.data_table-nav button {
  border: none;
  background-color: white;
  font-weight: bold;
  padding: 1rem .5rem .8rem 0;
}

.data_table-nav button:active {
  border-bottom: 3px solid rgb(3, 168, 78);
}

.profile_image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 15px auto 15px auto;
}

.student_data-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.student_data-table thead tr {
  font-size: .95rem;
  font-weight: bolder;
  color: black;
  align-items: center;
  text-align: left;
}

th,
td {
  padding: 10px 10px;
}

tbody tr {
  border-bottom: 1px solid rgb(160, 152, 174);
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(235, 255, 245);
}

tbody tr.active-row,
tbody tr.active-row a {
  font-weight: bold;
  background-color: rgb(3, 168, 78);
  color: #ffff;
}

.pagination {
  display: inline-block;
  position: relative;
  left: 300px;
  width: 50%;
}

.pagination label {
  color: black;
  padding: 4px 12px;
  float: left;
  margin: 0 .2rem;
  border: 1px solid rgb(160, 152, 174);
  border-radius: 100px;
}

.pagination .active {
  background-color: rgb(3, 168, 78);
  color: white;
}

.pagination .data_table-pager:hover {
  background-color: rgb(3, 168, 78);
  color: #fff;
  cursor: pointer;
}


/* feat/victor-aside */

.aside_profile_image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 15px auto 15px auto;
}

.aside {
  right: 0;
  top: 0;
  border: 1px solid black;
  height: 100vh;
  padding: 20px;
  background-color: rgb(94, 119, 110);
  overflow: scroll;
  overflow-x: hidden;
  color: rgb(237, 234, 234);
  text-align: center;
  padding-bottom: 30px;
  padding-right: 25px;
  position: fixed;
}

.schedule_town_hall,
.schedule_live_class,
.schedule_fun_friday {
  border: 1px solid rgb(228, 220, 220);
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  color: rgb(194, 234, 247);
}

.aside_profile_schedule {
  margin-top: 40px;
}

.aside_profile_student {
  font-size: 20px;
}

.aside_profile_info_about,
.aside_profile_schedule_head {
  color: rgb(56, 53, 53);
  font-size: 20px;
}

.aside_content_name {
  color: rgb(202, 239, 53);
}

.aside_profile,
.aside_profile_info {
  color: rgb(223, 215, 215);
}

/* feat/jennifer-section */
.section-container {
  width: 88%;
  margin: 0;
}
.section-header {
  text-align: center;
  margin-top: 25px;
  margin-right: 50px;
}
.section-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(7rem, 18.75rem));
  margin-top: 32px;
  padding-block: 32px;
  border-radius: 5px;
  justify-content: center;
  gap: 2rem;
}
.section-stats p {
  color: gray;
  font-size: 15px;
  margin-left: 100px;
  margin-top: 5px;
}
.section-stats h2 {
  font-size: 25px;
  color: #03a84e;
  font-weight: 900;
  padding-left: 15px;
  margin-left: 100px;
}

.sect-student {
  width: 300px;
  height: 120px;
  padding: 20px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-student .icon {
  background-color: #fc850e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}

.sect-teacher {
  width: 300px;
  height: 120px;
  padding: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-teacher .icon {
  background-color: rgb(193, 219, 227);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}

.sect-tracks {
  width: 300px;
  height: 120px;
  padding: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-tracks .icon {
  background-color: #0bc960;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}
.sect-average_age {
  width: 300px;
  height: 120px;
  padding: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-average_age .icon {
  background-color: rgb(137, 56, 144);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}
.sect-max_age {
  width: 300px;
  height: 120px;
  padding: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-max_age .icon {
  background-color: rgb(228, 225, 225);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}
.sect-min_age {
  width: 300px;
  height: 120px;
  padding: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px rgb(207, 207, 207);
}
.sect-min_age .icon {
  background-color: rgb(228, 225, 225);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: 100px;
}
.icon {
  font-size: 24px;
}

/* section.active .section-stats .sect-student:nth-of-type(odd) {
  background: rgb(8, 0, 0);
  border: 0.5rem;
  border-radius: 1px;
  padding-block: 0.5rem;
} */

